<%- include ("partials/header"); -%>

<div class="container-fluid main">
    <div class="row">
        <div class="col-md-6">
            <h1>Organiza tus tareas de manera sencilla, rápida y eficiente.</h1>
            <p>Lleva un registro de tus finanzas personales, crea listas personalizadas y programa recordatorios con un
                sólo click.</p>
            <div class="button-wrapper">
                <a class="btn btn-primary" href="/signup">Regístrate</a>
                <a class="btn btn-outline-dark" href="/login">Inicia sesión</a>
            </div>
        </div>

        <div class="col-md-6">
            <img src="https://www.energage.com/your-guide-to-the-top/assets/img/section4.png" alt="Persona organizada">
        </div>
    </div>
</div>

<div class="container-fluid description" id="use">

    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fas fa-wallet"></i>
                    <h3 class="card-title">Organiza tus finanzas</h3>
                    <p class="card-text">Registra tu flujo de dinero y toma el control de tu situación financiera.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <i class="fas fa-user-clock"></i>
                    <h3 class="card-title">Crea listas de tareas</h3>
                    <p class="card-text">Crea una lista con las actividades que tienes por realizar, estableciendo las fechas pertinentes.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center last">
                <div class="card-body">
                    <i class="fas fa-sticky-note"></i>
                    <h3 class="card-title">Haz notas</h3>
                    <p class="card-text">Anota cualquier cosa en una lista personalizada.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid description-footer">
    <h3>Regístrate, es gratis.</h3>
    <div class="button-wrapper">
        <a class="btn btn-primary" href="/signup">Regístrate</a>
    </div>
</div>

<%- include ("partials/footer"); -%>